<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .nav-link {
            color: #6249F2;
            text-decoration: none;
        }

        .elipse2 {
            position: absolute;
            left: 0px;
            top: 608.5px;

        }

        .elipse3 {
            position: absolute;
            height: 547px;
            left: 1113.9px;
            top: 205px;
        }

        .doctor {
            position: absolute;
            width: 613px;
            height: 439px;
            left: 625px;
            top: 156px;
            background: url(doctor.png);

        }

        .banner {
            position: absolute;
            width: 464px;
            height: 166px;
            left: 100px;
            top: 179px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 58px;
            color: #333333;
        }

        .navbar {
            position: absolute;
            width: 588px;
            height: 56px;
            left: 459px;
            top: 36px;
            mix-blend-mode: darken;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        }

        .nav-btn {
            width: 96.72px;
            height: 56px;
            top: 16px;
            float: left;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            list-style: none;
            color: #6249F2;
        }

        .nav-btn1 {
            width: 116.72px;
            height: 56px;
            top: 16px;
            float: left;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            list-style: none;
            color: #6249F2;
        }

        .banner-content {
            position: absolute;
            width: 339px;
            height: 93px;
            left: 105px;
            top: 342px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
        }

        .book {
            position: absolute;
            width: 120px;
            height: 46px;
            left: 105px;
            top: 450px;
            border-radius: 48px;

            background: #6249F2;
        }

        .book-btn {
            position: absolute;
            left: 20px;
            top: -7px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #FFFFFF;

        }
    </style>
</head>

<body>
    <nav class="navbar">
        <ul>
            <li class="nav-btn"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-btn1"><a class="nav-link" href="/hospitalRegister">Hospital</a></li>
            <li class="nav-btn"><a class="nav-link" href="/patientRegister">Patient</a></li>
            <li class="nav-btn"><a class="nav-link" href="#">Developers</a></li>
        </ul>

    </nav>
    <img src="https://res.cloudinary.com/dxqt710fe/image/upload/v1657177580/Ellipse_2_n7adiy.png" class="elipse2">
    <img src="https://res.cloudinary.com/dxqt710fe/image/upload/v1657177591/Ellipse_3_ytzx13.png" class="elipse3">
    <img src="https://res.cloudinary.com/dxqt710fe/image/upload/v1657177540/doctor_uovw1t.png" class="doctor">
    <div class="banner">Appointment <br>Booking</div>
    <div class="banner-content">Lorem ipsum</div>
    <div class="book"><a class="nav-link" href="/patientRegister">
            <h3 class="book-btn">Book Now</h3>
        </a></div>
</body>

</html>